.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 25px;
}

.tab1 {
  color: #dc4f72 !important;
  border-bottom: 3px solid #dc4f72 !important;
  transition: 0.5s;
}

.feature {
  padding: 48px 0;
}

.feature .container {
  padding: 25px 16px;
}
.feature .project-section {
  margin-top: 48px;
  margin-right: 12.5px;
  margin-left: 12.5px;
}

.feature .project-section .project-container {
  margin: 0 auto;
  max-width: 83.33333%;
}

.feature .project-container .tab {
  display: flex;
  flex-wrap: wrap;
}

.feature .project-container .tab button {
  text-align: center;
  font-weight: 700;
  font-size: 21px;
  padding: 18px;
  margin: 0;
  width: calc(100% / 3);
  cursor: pointer;
  color: #4e5b61;
  background: white;
  border: none;
  transition: 0.5s;
  border-bottom: 3px solid #eee;
}

.feature .project-container .tab button:hover {
  color: #dc4f72;
  border-bottom: 3px solid #dc4f72;
  transition: 0.5s;
}

.feature .content-container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
  padding: 15px 0;
}

.feature .content-left {
  max-width: 50%;
  padding: 0 15px;
}

.feature .content-left h3 {
  color: #2c3038;
  margin-bottom: 16px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.feature .content-left p {
  color: #5a5a5a;
  margin-bottom: 16px;
  font-size: 15px;
  line-height: 24.5px;
}

.feature .content-left button {
  margin-top: 16px;
}

.feature .content-right {
  max-width: 50%;
  padding: 0 15px;
}

.feature .content-right img {
  border-radius: 6px;
  max-width: 100%;
  transition: 0.5s;
}

.feature .content-right img:hover {
  transform: translateY(-8px);
  transition: 0.5s;
}
